scheduler-app/src/main/mule/scheduler-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e7f728de-021c-4c0e-9173-34dba0cb6c23" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="satish" database="stduents" />
	</db:config>
	<flow name="scheduler-appFlow" doc:id="7900653d-c8df-4787-8e6d-feb180a77d3d" >
		<scheduler doc:name="Scheduler" doc:id="aeeb18ad-a2d4-4f26-8ff9-d0c97da6a3c4" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<scatter-gather doc:name="Scatter-Gather" doc:id="10a22a0d-4edc-4c66-8850-9cbb9ef328f2" >
			<route >
				<db:select doc:name="Select" doc:id="54894485-2868-4d69-b224-0216f6cb2fb8" config-ref="Database_Config">
					<db:sql ><![CDATA[select * from stduents.stud1;]]></db:sql>
				</db:select>
				<logger level="INFO" doc:name="Logger" doc:id="f741bb84-3e20-4ba0-bc5f-f33f342bd9f8" message="#[payload]"/>
			</route>
			<route >
				<db:insert doc:name="Insert" doc:id="5e9c2fef-c14a-4836-881e-e319406840bd" config-ref="Database_Config">
					<db:sql ><![CDATA[insert into  stduents.stud1 values(1001,'OM');]]></db:sql>
				</db:insert>
				<logger level="INFO" doc:name="Logger" doc:id="aeb96625-3729-4c5d-a61e-5e4075215bbd" message="#[payload]"/>
			</route>
		</scatter-gather>
	</flow>
</mule>
